.TestCard{
    width: 200px;
    background-color: var(--white);
    color: var(--primaryGreen);
    padding: 30px;
    border-radius: 10px;
}

.TestCard img{
    width: 30%;
}

.TestCard div{
    display: flex;
    align-items: center;
    gap:30px;
}

.TestCard h4{
    font-size: 30px;
}

.TestCard p{
    color: var(--black);
    font-size: 15px;
}