.Personal{
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.form .left,.form .right{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

input{
    width: 230px;
    height: 20px;
    font-family: inherit;
}
#note{
    font-size: 12px;
}

#submit{
    background-color: var(--primaryYellow);
    font-family: inherit;
    height: 30px;
    font-weight: bold;
}

@media  screen and (max-width: 1000px) {

    .Personal{
        padding: 100px;
    }

}

@media  screen and (max-width: 600px) {

    .Personal{
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }

    .form{
        align-items: center;
        justify-content: center;
    }



}

.success{
    color: var(--primaryGreen);
}