.Reserve{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
    background-color: var(--primaryGreen);
    color: var(--white);
}

.Reserve img{
    width: 300px;
    height:300px;
    object-fit: cover;
}

.ReserveText{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#occasion{
    width: 230px;
}

.time{
    display: flex;
    gap: 23px;
}

#res-time{
    width: 100px;
}

#date{
    width: 100px;
    height: 30px;
    border: none;
    background-color: var(--primaryYellow);
    font-family: inherit;
    font-weight: bold;
}

select{
    background-color: var(--primaryYellow);
    font-family: inherit;
    height: 30px;
    font-weight: bold;
}

@media  screen and (max-width: 1000px) {

    .Reserve{
        padding: 100px;
    }

}

@media  screen and (max-width: 600px) {

    .Reserve{
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
    }

    .Reserve img{
        display: none;
    }


}

.alart{
    font-size: 15px;
    color: #eb7474;
}